<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Aula de Html</title>
    <style>
        mark {
            background-color: aqua;
        }
    </style>

</head>
<body>
    <picture>
        <img src=""
    </picture>




</body>
</html>